@import "tailwindcss";

@theme {
  --color-primary: #f40b80;
  --color-primary-hover: #d90970;
}

@layer base {
  body {
    @apply bg-[var(--background)] font-sans text-[var(--foreground)] antialiased;
    font-family: var(--font-inter);
  }
}
